body * {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    
}
.center {
    margin: auto;
    text-align: center;
}
h1, p, img, .info h3 {
    margin-bottom: 10px;
}
img {
    /* border-radius: 50%; it will make the pic rounded but the pic already rounded so we dont need it  */
}
table {
    border: 1.7px solid black; 
    border-collapse: collapse; 
}
th, td {
    border: 1.7px solid black;
    padding: 8px;
    text-align: start; 
}

/* contact page styles */
.pContatc {
    margin-bottom: 20px;
}
.contactForm {
    display: flex;
    flex-direction: column;
}
.contactForm input, .contactForm textarea {
    width: 300px;
    margin-bottom: 10px;
}
.contactForm textarea {
    resize: none; /* can not resize the texterea  */
}
.contactForm input[type="button"] {
    width: 50px;
}